<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />

<div class="login-container">
  <div class="washer-icon">
  <h2>Iniciar Sesión</h2>
  </div>

  <form (ngSubmit)="onLogin1()">
    <div class="form-group">
      <label for="correo">Correo:</label>
      <input type="text" id="usuario" [(ngModel)]="correo" name="correo"/>
    </div>

    <div class="form-group">
      <label for="password">Contraseña</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" class="form-control"/>
    </div>

    <div class="links">
      <a [routerLink]="['/create-user']">¿No tienes cuenta aún?</a>
      <br>
      <a href="#">¿Olvidaste tu contraseña?</a>
    </div>
    <br>

    <button type="submit">Entrar</button>

    <div class="or-container">
            <div class="line-separator"></div>
            <div class="or-label">or</div>
            <div class="line-separator"></div>
        </div>

    <div  id="g_id_onload"
     data-client_id="556523685960-4r808ijgat7sm0v7tkaladf1cnusbdof.apps.googleusercontent.com"
     data-context="signin"
     data-ux_mode="popup"
     data-login_uri="http://localhost/xampp/proyectoDS2/proyectoDS2.0/src/Backend/validateGoogle.php"
     data-callback="handleCredentialResponse"
     data-auto_prompt="false">
</div>

<div  id="googleBtn" class="g_id_signin"
     data-type="standard"
     data-shape="pill"
     data-theme="filled_blue"
     data-text="signin_with"
     data-size="medium"
     data-logo_alignment="left">
</div>

<script>
  window.handleCredentialResponse = function (response) {
    const event = new CustomEvent("google-login", {
      detail: response
    });
    window.dispatchEvent(event);
  };
</script>

<!-- Mensaje de error -->
<div *ngIf="errorMsg" class="alert alert-danger d-flex align-items-center" role="alert">
  <svg class="bi flex-shrink-0 me-2" width="10" height="10" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
  {{ errorMsg }}
</div>

  </form>


