<nav class="navbar navbar-dark bg-dark px-4 d-flex justify-content-between">
  <h3 class="text-light m-0">Admin Dashboard</h3>
  <div>
    <button class="btn btn-outline-light mx-1" (click)="changeSection('dashboard')">
      <i class="bi bi-speedometer2"></i>
    </button>
    <button class="btn btn-outline-light mx-1" (click)="changeSection('view')">
      <i class="bi bi-people"></i> Ver Usuarios
    </button>
    <button class="btn btn-outline-light mx-1" (click)="changeSection('add')">
      <i class="bi bi-person-plus"></i> Agregar Usuario
    </button>
  </div>
</nav>
