/* FONTS GOOGLE */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/* VARIABLES */
:root {
  --blanco: #E0E0E0;
  --azul-opacidad: #184463;
  --bg-menu: #003053;
  --bg-body: #C7E1FF;
}

/* GENERALES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  background: var(--bg-body);
  overflow: hidden;
}

/* CONTENEDOR PRINCIPAL */
.dashboard {
  display: flex;
  width: 100%;
  height: 100vh;
}

/* MENÚ IZQUIERDO */
.menu-dashboard {
  max-width: 150px;
  width: 150px;
  height: 100vh;
  background: var(--bg-menu);
  padding: 20px;
  transition: max-width .3s ease;
  overflow-y: auto;
  color: var(--blanco);
}

/* MENÚ EXPANDIDO */
.menu-dashboard.open {
  max-width: 300px;
  width: 300px;
}

/* ENCABEZADO DEL MENÚ */
.top-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-menu .logo {
  display: flex;
  align-items: center;
}

.top-menu .logo img {
  width: 40px;
  transition: width .3s ease;
}

.top-menu .logo span {
  font-size: 20px;
  margin-left: 20px;
  display: none;
}

/* Mostrar texto al expandir */
.menu-dashboard.open .top-menu .logo span {
  display: block;
}

/* BOTÓN DE MENU */
.top-menu .toggle {
  cursor: pointer;
}

.top-menu .toggle i {
  font-size: 35px;
}

/* BUSCADOR */
.input-search {
  width: 100%;
  margin: 40px 0;
  background-color: var(--azul-opacidad);
  padding: 15px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.input-search i {
  font-size: 22px;
  margin-right: 10px;
  color: var(--blanco);
}

.input-search .input {
  border: none;
  outline: none;
  background: transparent;
  color: var(--blanco);
  width: 100%;
  font-size: 18px;
  display: none;
}

.menu-dashboard.open .input-search .input {
  display: block;
}

/* ENLACES DEL MENU */
.enlace {
  width: 100%;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 18px;
  transition: all .3s ease;
  color: var(--blanco);
}

.enlace:hover {
  background: var(--azul-opacidad);
}

.enlace i {
  margin-right: 15px;
  font-size: 22px;
}

.enlace span {
  opacity: 0;
  transition: opacity .3s ease;
}

.menu-dashboard.open .enlace span {
  opacity: 1;
}

/* ====== CONTENIDO A LA DERECHA ====== */
.content {
  flex: 1;
  background: white;
  height: 100vh;
  padding: 25px;
  overflow-y: auto;
}
