.contenedor-form {
  max-width: 420px;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}

.dato-label {
  background: #e7f6ff;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #a0d8f1;
  color: #247ba0;
  font-weight: 500;
}


.volver {
  color: #1e88e5;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 15px;
  transition: 0.2s ease;
}

.volver:hover {
  transform: translateX(-4px);
}

.card-form {
  background: #f0f8ff;
  border-radius: 18px;
  padding: 25px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  border: 2px solid #d6ecff;
}

.titulo {
  color: #247ba0;
  text-align: center;
  margin-bottom: 20px;
}

.grupo {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  color: #247ba0;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #a0d8f1;
  outline: none;
  font-size: 15px;
}

input:focus {
  border-color: #4db6e2;
  box-shadow: 0 0 5px rgba(77,182,226,0.6);
}

.btn-actualizar {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background: #4db6e2;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-actualizar:hover {
  background: #1f8fc0;
}

