<div class="contenedor-form">

  <!-- Flecha azul para regresar -->
  <div class="volver" (click)="goBack()">
    ← Regresar
  </div>

  <div class="card-form">
    <h2 class="titulo">🧺 Editar Información</h2>

    <form (ngSubmit)="actualizarDatos()" #formEdit="ngForm">

      <div class="grupo">
        <label>Nombre</label>
        <input type="text" name="user_name" [(ngModel)]="perfil.user_name" required />
      </div>

      <div class="grupo">
        <label>Correo</label>
        <p class="dato-label">{{ perfil.email }}</p>
      </div>

      <div class="grupo">
        <label>Teléfono</label>
        <input type="text" name="phone" [(ngModel)]="perfil.phone" required />
      </div>

      <button class="btn-actualizar" [disabled]="formEdit.invalid">
        Actualizar Información
      </button>
    </form>
  </div>
</div>


