--
-- PostgreSQL database dump
--

\restrict OkOd3ADvaOQllAm4y4VkjLtez5TM0rb6cIAEyhf31jyDdhJ0SPX1tojSIoXVnxI

-- Dumped from database version 15.17 (Debian 15.17-1.pgdg13+1)
-- Dumped by pg_dump version 15.17 (Debian 15.17-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: rol_user; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.rol_user AS ENUM (
    'user',
    'admin'
);


ALTER TYPE public.rol_user OWNER TO postgres;

--
-- Name: user_status; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.user_status AS ENUM (
    'active',
    'disabled'
);


ALTER TYPE public.user_status OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    user_id integer NOT NULL,
    user_name text NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    creation_date timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    rol public.rol_user DEFAULT 'user'::public.rol_user,
    status public.user_status DEFAULT 'active'::public.user_status,
    phone numeric(15,0) NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_user_id_seq OWNER TO postgres;

--
-- Name: users_user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_user_id_seq OWNED BY public.users.user_id;


--
-- Name: sms; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sms (
    sms_id integer DEFAULT nextval('public.users_user_id_seq'::regclass) NOT NULL,
    user_id integer NOT NULL,
    code_otp text NOT NULL
);


ALTER TABLE public.sms OWNER TO postgres;

--
-- Name: users user_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN user_id SET DEFAULT nextval('public.users_user_id_seq'::regclass);


--
-- Data for Name: sms; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.sms (sms_id, user_id, code_otp) FROM stdin;
7	1	278493
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (user_id, user_name, email, password, creation_date, rol, status, phone) FROM stdin;
1	Angel Gabriel	gmorquecho12579@gmail.com	$2y$10$dr4lTnf9bduT4EzH4wANc.9xMdNXSE3edimTa0fH37tRtMxJEOFli	2026-04-04 06:30:35.795795+00	admin	active	528445364706
2	Gabriel Pedro	gpedroza13579@gmail.com	$2y$10$PNESIfT3j/iBY9EbOpLSjeVdLIZrCHthaEqeT3f5gbuCLqqX1G44e	2026-04-04 06:51:02.504012+00	user	active	528445364706
39	Duolingo Hernandez	Duolingo123@gmail.com	$2y$10$fGfvYX.lbfjFA8yiJg/Kq.qDA6aem157P7DOwqmajbywLVzkf085u	2026-05-09 07:11:58.84768+00	user	active	528445364706
\.


--
-- Name: users_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_user_id_seq', 39, true);


--
-- Name: sms sms_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sms
    ADD CONSTRAINT sms_pkey PRIMARY KEY (sms_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (user_id);


--
-- Name: sms sms_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sms
    ADD CONSTRAINT sms_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id) NOT VALID;


--
-- PostgreSQL database dump complete
--

\unrestrict OkOd3ADvaOQllAm4y4VkjLtez5TM0rb6cIAEyhf31jyDdhJ0SPX1tojSIoXVnxI

